{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{ title }}{% else %}{{ settings.name }}{% endif %}</title>
    <link rel="icon" href="{{ settings.icon.url }}" type="image/x-icon">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Font Aweasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "store/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/nice-select.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "store/css/style.css" %}" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {% include "store/partials/header.html" %}
    {% block content %}{% endblock content %}
    {% include "store/partials/footer.html" %}
    <!-- Js Plugins -->
    <script src="{% static "store/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "store/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "store/js/bootstrap.min.js" %}"></script>
    <script src="{% static "store/js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "store/js/jquery.slicknav.js" %}"></script>
    <script src="{% static "store/js/mixitup.min.js" %}"></script>
    <script src="{% static "store/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "store/js/main.js" %}"></script>
</body>   
</html>